extends partials/templates/_template.pug

block content
  +b.SECTION.page--questions
    .container-fluid
      .row

        .col-xs-12.col-lg-8.push-lg-2
          // Nav
          include partials/components/_nav.pug 
          // Search
          include partials/components/_search.pug 
          // Content
          +b.SECTION.content(itemscope, itemtype="http://schema.org/Article")
            +e.H1.title(itemprop="headline") Заказать документ
            +e.text(itemprop="articleBody")
              p Требуются разрешительные документы, а вы не знаете с чего начать?
              p Просто воспользуйтесь формой заявки ниже, и наши специалисты ответят на все ваши вопросы и подберут оптимальный для вас вариант!
          // Form application
          include partials/components/_form--application.pug  

        .col-xs-12.col-lg-2.pull-lg-8    
          // Left sidebar
          include partials/components/_left-sidebar.pug 

        .col-xs-12.col-lg-2
          // Right sidebar
          include partials/components/_right-sidebar.pug 






