.contacts-section{
  margin-bottom: 20px;
  &__map{
    display: block;
    height: 100%;
    width: 100%;
    max-width: 250px;
    margin: 0 auto 20px;
    img{
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
  &__list{
    padding-left: 0;
    margin: 0;
    list-style-type: none;
  }
  &__item{
    border-bottom: 1px solid $contacts-border-bottom;
  }
  &__link{
    display: inline-block;
    width: 100%;
    text-decoration: none;
    padding: 5px;
    color: $black;
    &:hover, &:focus {
      background-image: url(../img/contacts-item-hover.png);
      background-size: contain;
      color: $text-color-white;
      text-decoration: none;
    }
  }
}


