.footer{
  margin-top: 20px;
  border-top: 2px solid $news-border-bottom;
}

.copyright{
  padding: 20px 0 10px;
  font-size: $font-size-small;
  &__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &__text{
    text-align: left;
  }
}

.counters{
  padding-left: 10px;
  a{
    display: inline-block;
    width: 88px;
    height: 31px;
    background-color: rgba($crimson, .5);
  }
}