.has-success{
  .form__input, .form__textarea{
    border: 1px solid $success;
  }
}
.has-error{
  .form__input, .form__textarea{
    border: 1px solid $error;
  }
  .help-block{
    display: block;
  }
}
.help-block{
  display: none;
  font-size: $font-size-small;
  margin: 0 0 20px;
}


