.form{
  text-align: center;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  // margin: 20px 25%;
  // @include mq($from:sm, $until:xl){
  //   margin: 20px 5%;
  // }
  // @include mq($from:xs, $until:sm){
  //   margin: 20px 0;
  // }
  
  form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__title{
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0;
    padding: 0 15px 30px;
    font-weight: bold;
    font-size: $font-size-title;
    text-transform: uppercase;
  }
  .form-group{
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;     
  }
  &__input{
    background-color: $white;
    padding: 5px 10px;    
    width: 100%;
    margin-bottom: 20px;

    &::-webkit-input-placeholder{
      color: $text;
    }       
    &::placeholder{
      color: $text;
    }
    &:focus::-webkit-input-placeholder{
      color: transparent;         
    }       
    &:focus::placeholder{
      color: transparent;         
    } 
  }
  &__textarea{
    background-color: $white;
    padding: 5px 10px;     
    width: 100%;
    height: 150px;
    vertical-align: top;
    margin-bottom: 20px;

    &::-webkit-input-placeholder{
      color: $text;
    }       
    &::placeholder{
      color: $text;
    }
    &:focus::-webkit-input-placeholder{
      color: transparent;         
    }       
    &:focus::placeholder{
      color: transparent;         
    } 
  }
  &__select{
    background-color: $white;
    padding: 5px 10px;    
    width: 100%;
    margin-bottom: 20px;
  }


  &--application-header{
    max-width: 600px;
    .form__title{
      background-color: $blue-form-title;
      color: $text-color-white;
      padding-bottom: 0;
      flex: 0 0 calc(100% - 20px);
      max-width: calc(100% - 20px);
    }
    .form__text{
      background-color: $blue-form-title;
      color: $text-color-white;
      text-align: right;
      display: block;
      margin: 0;
      flex: 0 0 calc(100% - 20px);
      max-width: calc(100% - 20px);
      padding: 0 5px 5px;
      margin-bottom: 10px;
    }
    .form-group{
      padding-left: 10px;
      padding-right: 10px;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .form__input, .form__textarea{
      margin-bottom: 10px;
      border: 1px solid $blue-form-border;
      padding: 3px 5px;
      color: $btn-form-color;
      &::-webkit-input-placeholder{
        color: $btn-form-color;
      }       
      &::placeholder{
        color: $btn-form-color;
      }
      &:focus::-webkit-input-placeholder{
        color: transparent;         
      }       
      &:focus::placeholder{
        color: transparent;         
      }
    }
  }
  &--search{
    padding: 0;
    .form-group{
      margin-bottom: 0;
      flex: 0 0 auto;
      padding-left: 0;
      padding-right: 0;
      &:first-of-type{        
        @include mq($from:xs, $until:sm){
          flex: 0 0 100%;
        }
      }
      &:nth-of-type(2){
        flex: 1 0 auto;
      }
      &:last-of-type{
        text-align: right;
      }
    } 
    .form__input{
      margin-bottom: 0;
      height: 100%;
      border: none;
      @include mq($from:xs, $until:sm){
        border-bottom: 1px solid rgb(169, 169, 169);
      }
    }
    .form__select{
      margin-bottom: 0;
      height: 100%;
      border-bottom: none;
      border-top: none;
      border-left: none;
      @include mq($from:xs, $until:sm){
        border-right: none;
        border-bottom: 1px solid rgb(169, 169, 169);
      }
    }
  }
  &--application{
    max-width: 550px;
    margin: 0 auto;
    .form-group{
      display: flex;
      flex-wrap: wrap; 
      &:last-of-type{
        justify-content: center;
      }     
    }
    .form__description{
      flex: 0 0 auto;
      min-width: 200px;
      text-align: left;
    }
    .form__input, .form__textarea{
      flex: 1 0 auto;
      width: auto;
    }
    .help-block{
      flex: 0 0 100%;
    }
  }
  &--call{
    max-width: 550px;
    margin: 0 auto;
    .form-group{
      display: flex;
      flex-wrap: wrap; 
      &:last-of-type{
        justify-content: center;
      }     
    }
    .form__description{
      flex: 0 0 auto;
      min-width: 200px;
      text-align: left;
    }
    .form__input, .form__textarea{
      flex: 1 0 auto;
      width: auto;
    }
    .help-block{
      flex: 0 0 100%;
    }
  }
  &--question{
    max-width: 550px;
    margin: 0 auto;
    .form-group{
      display: flex;
      flex-wrap: wrap; 
      &:last-of-type{
        justify-content: center;
      }     
    }
    .form__description{
      flex: 0 0 auto;
      min-width: 200px;
      text-align: left;
    }
    .form__input, .form__textarea{
      flex: 1 0 auto;
      width: auto;
    }
    .help-block{
      flex: 0 0 100%;
    }
  }
}


