.news{
  margin: 30px 0 50px;
  @include mq($from:xs, $until:sm){
    margin: 20px 0 20px;
  }
  &__title{
    margin: 20px 0 20px;
    font-weight: normal;
    font-family: $font-family--serif;
    font-size: $font-size-supertitle;
    border-bottom: 2px solid $news-border-bottom;
  }
}


.news-item{
  padding-bottom: 10px;
  border-bottom: 1px dotted $black;
  &__title{
    margin: 10px 0;
    font-weight: normal;
    font-size: $font-size;
  }

  &__date{
    font-size: $font-size-small;
    margin-bottom: 10px;
    color: $crimson;
    font-weight: bold;
  }
  &__link{
    display: inline-block;
  } 
  &__text{
    clear: both;
    img{
      float: left;
      margin-right: 15px;
      margin-bottom: 15px;
    }
  }
  &__excerpt{
    padding-left: 20px;
    padding-right: 20px;
  }
  &__further{
    padding-left: 20px;
    padding-right: 20px;
    text-align: right;
  }
}
