.pagination{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;

  &__number{
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    padding: 4px 10px;
    background-color: $grey-pag;
    color: $text-color;
    &:hover, &:focus, &:active{
      text-decoration: none;
      color: $red-pag;
    }
    &--current{
      background-color: $red-pag;
      color: $text-color-white;
      &:hover, &:focus, &:active{
        color: $text-color-white;
      }
    }
  } 
}
