.sidebar{
  margin: 0 -15px; /* убираем paddding у .col из сетки */
}

.menu{
  text-align: left;
  background-color: $pale;
  border-radius: 7px;
  border: 1px solid $pale-border;
  margin-bottom: 10px;
  &__title{
    margin: 0;
    padding: 10px 5px;
    border-radius: 7px 7px 0 0;
    font-family: $font-family--serif;
    font-weight: normal;
    background-color: $menu-title;
    background-image: url(../img/menu-title.png);
    background-repeat: no-repeat;
    background-size: cover;
    word-wrap: break-word;
    text-transform: uppercase;
    text-align: center;
    color: $text-color-white;
  }
  &__list{
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    font-size: $font-size-small;
  }
  &__item{
    // display: flex;
    // align-items: center;
    // justify-content: center;
    position: relative;
  }
  &__link{
    width: 100%;
    display: inline-block;
    padding: 5px 20px 5px 5px;

    &--dropdown{
      &:after{
        content: '';
        position: absolute;
        top: 50%;
        right: 7px;
        margin-top: -6px;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid $blue;
      }
    }
  }
}

.submenu{
  position: absolute;
  z-index: 1;
  top: 0;
  right: -5px;
  transform: translateX(100%);  
  width: 100%;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  border-radius: 7px;
  border: 1px solid $pale-border;
  background-color: $white;
  display: none;

  &__link{
    width: 100%;
    display: inline-block;
    padding: 5px;    
  }
}

.links-block{
  text-align: center;
  &__link{
    display: inline-block;
    margin-bottom: 10px;
  }
}