mixin questionsItem(title, askPerson, askText)
  +b.ARTICLE.question(itemscope, itemtype="http://schema.org/Question")
    +e.H2.subtitle
      +e.A.link(href="single-question.html", itemprop="headline") #{title} 
    +e.date(itemprop="datePublished") 18.08.2016 
    +e.ask
      +e.person(itemprop="author") !{askPerson}
      +e.text(itemprop="text") !{askText}
    +e.further
      +b.A.btn--further(href="single-question.html") Читать далее

