<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#">
  <!-- Head-->
  <head>
    <title>Infogost.com</title>
    <!-- Main Meta information-->
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="Infogost.com">
    <meta name="author" content="">
    <!-- Meta Information-->
    <meta name="robots" content="index, follow">
    <meta name="language" content="Russian">
    <meta name="msapplication-tooltip" content="Infogost.com">
    <meta name="msapplication-starturl" content="http://infogost.com/">
    <meta name="msapplication-tap-highlight" content="no">
    <!-- OpenGraph microformat-->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Infogost.com">
    <meta property="og:site_name" content="Infogost.com">
    <meta property="og:url" content="http://infogost.com/">
    <meta property="og:description" content="Infogost.com">
    <meta property="og:image" content="">
    <!-- Twitter microformat-->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="http://infogost.com/">
    <meta name="twitter:creator" content="">
    <meta name="twitter:url" content="">
    <meta name="twitter:title" content="Infogost.com">
    <meta name="twitter:description" content="Infogost.com">
    <meta name="twitter:image" content="">
    <meta name="twitter:domain" content="http://infogost.com/">
    <link rel="canonical" href="/">
    <link rel="image_src" href="#">
    <link rel="shortlink" href="#">
    <link type="text/plain" rel="author" href="humans.txt">
    <link rel="stylesheet" href="css/style.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyCbFBllrMkXPOoe1YbN3aXTYV0cesewVhc"></script>
  </head>
  <body>
    <!-- Header-->
    <header class="header">
      <div class="container">
        <div class="header__wrapper">
          <div class="header__logo">
            <!-- Logo-->
            <a class="logo" href="index.html" itemscope="itemscope" itemtype="http://schema.org/Brand">
              <img src="img/logo.png" alt="logo" title="logo" itemprop="logo">
            </a>
          </div>
          <div class="header__form">
            <!-- Form application-->
            <section class="form form--application-header">
              <form action="" method="">
                <h3 class="form__title">Рассчитать стоимость </h3>
                <p class="form__text">Узнать сроки и стоимость услуги онлайн</p>
                <div class="form-group field-product required">
                  <input class="form__input" type="text" name="Продукт" placeholder="Наименование продукта*" />
                  <p class="help-block">Ошибка заполнения поля формы</p>
                </div>
                <div class="form-group field-name">
                  <input class="form__input" type="text" name="Имя" placeholder="Ваше имя*" />
                  <p class="help-block">Ошибка заполнения поля формы</p>
                </div>
                <div class="form-group field-tel">
                  <input class="form__input" type="tel" name="Телефон" placeholder="Ваш телефон*" />
                  <p class="help-block">Ошибка заполнения поля формы</p>
                </div>
                <div class="form-group field-email required">
                  <input class="form__input" type="email" name="Email" placeholder="Ваш email*" />
                  <p class="help-block">Ошибка заполнения поля формы</p>
                </div>
                <div class="form-group">
                  <button class="btn btn--form btn--header" type="submit">Узнать стоимость</button>
                  <p class="help-block help-block-success">Ваша заявка отправлена</p>
                </div>
              </form>
            </section>
          </div>
        </div>
      </div>
    </header>
    <main></main>
    <!-- Footer-->
    <footer class="footer">
      <!-- Copyright-->
      <section class="copyright">
        <div class="container">
          <div class="copyright__wrapper">
            <div class="copyright__text">
              <div>© 2008-2016
                <a href="index.html">ИнфоГОСТ </a>
              </div>
              <div>информационный портал о сертификации </div>
            </div>
            <div class="counters">
              <a href="#" target="_blank">counter</a>
            </div>
          </div>
        </div>
      </section>
    </footer>
    <script src="js/script.min.js"></script>
  </body>
</html>