include ../abstracts/bemto/bemto.pug


// Footer
+b.FOOTER.footer

  // Copyright
  +b.SECTION.copyright
    .container
      +e.wrapper
        +e.text 
          p © 2008-2016 
            a(href="index.html") ИнфоГОСТ 
          p информационный портал о сертификации 
        +b.counters
          a(href="#", target="_blank") counter

//- +b.A.up(href="#")
//- +b.overlay
  //- +e.form
  //-   include _form--modal.pug




