include ../abstracts/bemto/bemto.pug

// Header
+b.HEADER.header
  .container
    +e.wrapper
      +e.logo
        // Logo
        +b.A.logo(href="index.html", itemscope, itemtype="http://schema.org/Brand")       
          img(src="img/logo.png", alt="logo", title="logo", itemprop="logo")
      +e.form
        // Form application
        include _form--application.pug 
