include ../abstracts/bemto/bemto.pug


+b.ASIDE.sidebar--left

  // Menu registers
  +b.SECTION.menu--registers(itemscope, itemtype="http://schema.org/Service")
    +e.H3.title Проверка документов
    +e.UL.list
      +e.item 
        +e.A.link(href="page.html") Реестр документов на сайте Росаккредитации
      +e.item 
        +e.A.link(href="page.html") Реестр Свидетельств о госрегистрации
      +e.item 
        +e.A.link(href="page.html") Реестр медицинских изделий и организаций, осуществляющих  производство и изготовление медицинских изделий
      +e.item 
        +e.A.link(href="page.html") Реестр зарегистрированных нотификаций (уведомлений)
      +e.item 
        +e.A.link(href="page.html") Реестр штрих-кодов
      +e.item 
        +e.A.link(href="page.html") Реестр добровольной системы сертификации «СИСТЕМА КАЧЕСТВА ЕАС»

  // Menu certfication
  +b.SECTION.menu--certfication(itemscope, itemtype="http://schema.org/Service")
    +e.H3.title Сертификация
    +e.UL.list
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Декларация соответствия ГОСТ Р
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Декларация соответствия ТР ТС
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Декларация соответствия УкрСЕПРО
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Добровольная сертификация
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Карантинное разрешение
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Нотификация ФСБ
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Обязательная сертификация
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Одобрение типа транспортного средства
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Озоновое заключение
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Пожарное сертифицирование
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Протокол испытаний
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Разрешение Ростехнадзора
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Регистрационное удостоверение Минздрава
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Свидетельство о Государственной регистрации ТС
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Сертификат соответствия ГОСТ Р
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Сертификат соответствия ТР
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Сертификат Госстроя
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Сертификация импорта
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Сертификат пожарной безопасности
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Сертификат происхождения
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Сертификат соответствия ИСО 9001
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Сертификат соответствия ИСО 14001
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Сертификат соответствия ИСО 18001
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Сертификат соответствия СЕ
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Сертификат соответствия ТР ТС
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Сертификат соответствия УкрСЕПРО
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Сертификация средств индивидуальной защиты
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Технический регламент ТС
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Технические условия
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Технологический регламент
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Фитосанитарный сертификат
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Экологический сертификат
      +e.item 
        +e.A.link(href="page.html", itemprop="offers") Экспертное заключение

  // Menu normative
  +b.SECTION.menu--normative
    +e.H3.title Нормативные документы
    +e.UL.list
      +e.item 
        +e.A.link--dropdown(href="#") Перечни
        +b.UL.submenu
          +e.item 
            +e.A.link(href="page.html") Перечень на ветеринарный сертификат
          +e.item 
            +e.A.link(href="page.html") Перечень на Госрегистрацию
          +e.item 
            +e.A.link(href="page.html") Перечень на декларацию
          +e.item 
            +e.A.link(href="page.html") Перечень на сертификат
          +e.item 
            +e.A.link(href="page.html") Перечень на фитосанитарный сертификат
          +e.item 
            +e.A.link(href="page.html") Перечень на хлебный сертификат
          +e.item 
            +e.A.link(href="page.html") Продукция, подлежащая пожарному сертифицированию
      +e.item 
        +e.A.link--dropdown(href="#") Письма
        +b.UL.submenu
          +e.item 
            +e.A.link(href="page.html") Письма-разъяснения от МинПромТорга
          +e.item 
            +e.A.link(href="page.html") Письмо к ФЗ от 27 ноября 2008 № 178-ФЗ «О санитарно-эпидемиологических заключениях, свидетельствах о государственной регистрации на соковую продукцию»
      +e.item 
        +e.A.link--dropdown(href="#") Постановления
        +b.UL.submenu
          +e.item 
            +e.A.link(href="page.html") Постановление от 17 марта 1998 № 11 «Об утверждении Положения о Системе сертификации ГОСТ Р»
          +e.item 
            +e.A.link(href="page.html") Постановление от 7 июля 1999 № 766 «Об утверждении перечня продукции, соответствие которой может быть подтверждено декларацией о соответствии, порядка принятия декларации о соответствии и её регистрации»
          +e.item 
            +e.A.link(href="page.html") Постановление от 30 июля 2002 № 64
          +e.item 
            +e.A.link(href="page.html") Постановление от 1 декабря 2009 № 982 «Об утверждении единого перечня продукции, подлежащей обязательной сертификации, и единого перечня продукции, подтверждение соответствия которой осуществляется в форме принятия декларации о соответствии»
          +e.item 
            +e.A.link(href="page.html") Постановление от 2 декабря 2009 г. № 984 «О перечне платных услуг, оказываемых организациями в целях предоставления федеральными органами исполнительной власти государственных услуг»
      +e.item 
        +e.A.link--dropdown(href="#") Приказы
        +b.UL.submenu
          +e.item 
            +e.A.link(href="page.html") Приказ МЧС России № 91 от 24 февраля 2009 «Об утверждении формы и порядка регистрации декларации пожарной безопасности»
          +e.item 
            +e.A.link(href="page.html") Приказ от 31 мая 1996 года № 336 «О порядке ввоза в РФ и вывоза из РФ озоноразрушающих веществ и содержащий их продукции»
          +e.item 
            +e.A.link(href="page.html") Приказ № 224 «О санитарно-эпидемиологических экспертизах, обследованиях, исследованиях, испытаниях и токсикологических, гигиенических и иных видах оценок»
          +e.item 
            +e.A.link(href="page.html") Приказ от 27 сентября 2002 г. N 214 «О подготовке и выдаче разъяснений по вопросам отнесения продукции и услуг (работ) к объектам обязательного подтверждения соответствия»
          +e.item 
            +e.A.link(href="page.html") Приказ «О порядке ввоза в Российскую Федерацию и вывоза из Российской Федерации озоноразрушающих веществ и содержащей их продукции»
      +e.item 
        +e.A.link(href="page-news.html") СанПиНы
      +e.item 
        +e.A.link--dropdown(href="#") Технические регламенты Российской Федерации
        +b.UL.submenu
          +e.item 
            +e.A.link(href="page.html") Технический регламент «О требованиях безопасности крови»
          +e.item 
            +e.A.link(href="page.html") Технический регламент «О требованиях пожарной безопасности»
          +e.item 
            +e.A.link(href="page.html") Технический регламент «О безопасности колесных транспортных средств»
          +e.item 
            +e.A.link(href="page.html") Технический регламент «О безопасности зданий и сооружений»
          +e.item 
            +e.A.link(href="page.html") Технический регламент на табачную продукцию
      +e.item 
        +e.A.link--dropdown(href="#") Технические регламенты Таможенного Союза
        +b.UL.submenu
          +e.item 
            +e.A.link(href="page.html") Технический регламент «Пищевая продукция в части ее маркировки»
          +e.item 
            +e.A.link(href="page.html") Технический регламент «Безопасность лифтов»
          +e.item 
            +e.A.link(href="page.html") Технический регламент «О требованиях безопасности средств индивидуальной защиты»
          +e.item 
            +e.A.link(href="page.html") Технический регламент на соковую продукцию из фруктов и овощей
          +e.item 
            +e.A.link(href="page.html") Технический регламент на масложировую продукцию
          +e.item 
            +e.A.link(href="page.html") Технический регламент «O безопасности пиротехнических изделий»
          +e.item 
            +e.A.link(href="page.html") Технический регламент «О требованиях безопасности машин и оборудования»
          +e.item 
            +e.A.link(href="page.html") Технический регламент «О безопасности аппаратов, работающих на газообразном топливе»
          +e.item 
            +e.A.link(href="page.html") Технический регламент «О требованиях безопасности продукции для детей и подростков»
          +e.item 
            +e.A.link(href="page.html") Технический регламент «О требованиях безопасности продукции для работы во взрывоопасных средах»
          +e.item 
            +e.A.link(href="page.html") Технический регламент «О безопасности низковольтного оборудования»
          +e.item 
            +e.A.link(href="page.html") Технический регламент «О безопасности зерна»
          +e.item 
            +e.A.link(href="page.html") Технический регламент «О безопасности упаковки»
          +e.item 
            +e.A.link(href="page.html") Технический регламент «О безопасности парфюмерно-косметической продукции»
          +e.item 
            +e.A.link(href="page.html") Технический регламент «О безопасности игрушек»
          +e.item 
            +e.A.link(href="page.html") Технический регламент «О безопасности продукции легкой промышленности»
          +e.item 
            +e.A.link(href="page.html") Технический регламент «Электромагнитная совместимость технических средств»
          +e.item 
            +e.A.link(href="page.html") Технический регламент «О безопасности пищевой продукции»
          +e.item 
            +e.A.link(href="page.html") Технический регламент «О требованиях к автомобильному и авиационному бензину, дизельному и судовому топливу, топливу для реактивных двигателей и мазуту»
          +e.item 
            +e.A.link(href="page.html") Технический регламент на молоко и молочную продукцию
      +e.item 
        +e.A.link--dropdown(href="#") Федеральные законы
        +b.UL.submenu
          +e.item 
            +e.A.link(href="page.html") ФЗ от 27.11.08 № 178 «О санитарно-эпидемиологических заключениях, свидетельствах о государственной регистрации на соковую продукцию»
          +e.item 
            +e.A.link(href="page.html") ФЗ от 27 декабря 2002 № 184-ФЗ «О техническом регулировании»
          +e.item 
            +e.A.link(href="page.html") ФЗ от 21 июля 1997 № 116-ФЗ «О промышленной безопасности опасных производственных объектов»
      +e.item 
        +e.A.link--dropdown(href="#") Базы кодов
        +b.UL.submenu
          +e.item 
            +e.A.link(href="page.html") Базы кодов ОКП
          +e.item 
            +e.A.link(href="page.html") База ГОСТов
          +e.item 
            +e.A.link(href="page.html") База ТНВЭД
          +e.item 
            +e.A.link(href="page.html") МКТУ
          +e.item 
            +e.A.link(href="page.html") База ОКВЭД 2
          +e.item 
            +e.A.link(href="page.html") База ОКПд

  // Links block
  +b.SECTION.links-block
    +e.A.link(href="http://www.customs.ru/", target="_blank", title="Федеральная Таможенная Служба")
      img(src="img/banners/customs.ru.jpg", alt="banner", title="banner")
    +e.A.link(href="http://rospotrebnadzor.ru/", target="_blank", title="Роспотребнадзор")
      img(src="img/banners/rospotrebnadzor.ru.jpg", alt="banner", title="banner")
    +e.A.link(href="http://tsouz.ru/", target="_blank", title="Комиссия Таможенного Союза")
      img(src="img/banners/tsouz.ru.jpg", alt="banner", title="banner")
    +e.A.link(href="http://www.minzdravsoc.ru/", target="_blank", title="Минздравсоцразвития России")
      img(src="img/banners/minzdravsoc.ru.jpg", alt="banner", title="banner")

  // Advertisment
  +b.SECTION.advertisment
    +e.banner
      img(src= "img/slider.gif", alt="banner", title="banner")


