include ../abstracts/bemto/bemto.pug


+b.NAV.nav
  +e.hamburger
    +b.A.hamburger(href="#")
      span
  +e.UL.list
    +e.item 
      +e.A.link--active(href="index.html") Главная
    +e.item--blue 
      +e.A.link(href="page-application.html") Заказать документ
    +e.item--blue 
      +e.A.link(href="page-call.html") Заказать звонок 
    +e.item--blue 
      +e.A.link(href="page-question.html") Задать вопрос
    +e.item
      +e.A.link(href="page.html") Словарь терминов
    +e.item
      +e.A.link(href="page.html") База кодов
    +e.item
      +e.A.link(href="page.html") Справка

