include ../abstracts/mixins/_news-item.pug
include ../abstracts/bemto/bemto.pug

+b.SECTION.news
  +e.H2.title Новости сертификации (вывести 10 штук)
  +e.articles 
    +newsItem("Сертификация цемента стала обязательной", "18.08.2016", "Начиная с 7 марта на территории России стала обязательной сертификация цемента – это регламентируется Письмом Минпромторга, которое было опубликовано 20 февраля 2016 года, а также ПП РФ №930 от 3 сентября 2015 года. Согласно указанному Постановлению с 7 марта обязательной оценке качества стали подлежать такие виды цемента как ...")
    +newsItem("Россия ограничила поставки белорусской продукции на российский рынок","18.08.2016", "К комиссии ЕАЭК 10 февраля поступило обращение от службы по фитосанитарному и ветеринарному контролю о временных ограничениях на ввоз на территорию России товаров, которые были произведены ОАО «Слуцкий сыродельный комбинат», его любанскими и копыльскими филиалами в республике Беларусь, в связи с многочисленными ...")
    +newsItem("1 января введено эмбарго на ряд турецких товаров","18.08.2016", "В.Путин подписал указ №583 от 28 ноября 2015г. согласно которому начиная с 1 января 2016 года введены специальные меры экономического зарактера в отношении Турецкой республики. В указе утверждается список продукции, материалов и сырья запрещённых к импорту в РФ. В список вошли такая пищевая продукция как томаты, капуста, огурцы, ...")
    +b.SECTION.pagination
      span Страницы:
      +e.A.number--current(href="index.html") 1
      +e.A.number(href="index.html") 2
      +e.A.number(href="index.html") 3

