include ../abstracts/bemto/bemto.pug

+b.ASIDE.sidebar--right

  // Contacts section
  +b.contacts-section
    +e.A.map(href="page-contacts.html")
      img(src="img/map.png", alt="map", title="map")
    +e.UL.list
      +e.item
        +e.link(href="page-contacts.html#msk") В Москве
      +e.item
        +e.link(href="page-contacts.html#spb") В Санкт-Петербурге
      +e.item
        +e.link(href="page-contacts.html#ekb") В Екатеринбурге
      +e.item
        +e.link(href="page-contacts.html#perm") В Перми
      +e.item
        +e.link(href="page-contacts.html#tyumen") В Тюмени
      +e.item
        +e.link(href="page-contacts.html#surgut") В Сургуте
      +e.item
        +e.link(href="page-contacts.html#ufa") В Уфе
      +e.item
        +e.link(href="page-contacts.html#msk") В Москве
      +e.item
        +e.link(href="page-contacts.html#spb") В Санкт-Петербурге
      +e.item
        +e.link(href="page-contacts.html#ekb") В Екатеринбурге
      +e.item
        +e.link(href="page-contacts.html#perm") В Перми
      +e.item
        +e.link(href="page-contacts.html#tyumen") В Тюмени
      +e.item
        +e.link(href="page-contacts.html#surgut") В Сургуте
      +e.item
        +e.link(href="page-contacts.html#ufa") В Уфе
      +e.item
        +e.link(href="page-contacts.html#msk") В Москве
      +e.item
        +e.link(href="page-contacts.html#spb") В Санкт-Петербурге
      +e.item
        +e.link(href="page-contacts.html#ekb") В Екатеринбурге
      +e.item
        +e.link(href="page-contacts.html#perm") В Перми
      +e.item
        +e.link(href="page-contacts.html#tyumen") В Тюмени
      +e.item
        +e.link(href="page-contacts.html#surgut") В Сургуте
      +e.item
        +e.link(href="page-contacts.html#ufa") В Уфе

  // Menu certification production
  +b.SECTION.menu--production
    +e.H3.title Сертификация продукции
    +e.UL.list
      +e.item 
        +e.A.link(href="page.html") Сертификат на алюминий
      +e.item 
        +e.A.link(href="page.html") Сертификат на бетон
      +e.item 
        +e.A.link(href="page.html") Сертификат на битум
      +e.item 
        +e.A.link(href="page.html") Сертификат на брус
      +e.item 
        +e.A.link(href="page.html") Сертификат на гвозди
      +e.item 
        +e.A.link(href="page.html") Сертификат на двери
      +e.item 
        +e.A.link(href="page.html") Сертификат на игрушки
      +e.item 
        +e.A.link(href="page.html") Сертификат на кирпич
      +e.item 
        +e.A.link(href="page.html") Сертификат на клей
      +e.item 
        +e.A.link(href="page.html") Сертификат на ковролин 
      +e.item 
        +e.A.link(href="page.html") Сертификат на косметику
      +e.item 
        +e.A.link(href="page.html") Сертификат на линолеум
      +e.item 
        +e.A.link(href="page.html") Сертификат на моющие средства
      +e.item 
        +e.A.link(href="page.html") Сертификат на ножи
      +e.item 
        +e.A.link(href="page.html") Сертификат на обувь
      +e.item 
        +e.A.link(href="page.html") Сертификат на одежду
      +e.item 
        +e.A.link(href="page.html") Сертификат на паркет
      +e.item 
        +e.A.link(href="page.html") Сертификат на пищевую продукцию
      +e.item 
        +e.A.link(href="page.html") Сертификат на плитку
      +e.item 
        +e.A.link(href="page.html") Сертификат на посуду
      +e.item 
        +e.A.link(href="page.html") Сертификат на провод
      +e.item 
        +e.A.link(href="page.html") Сертификат на светодиодные лампы
      +e.item 
        +e.A.link(href="page.html") Сертификат на стекло
      +e.item 
        +e.A.link(href="page.html") Сертификат на сэндвич-панели
      +e.item 
        +e.A.link(href="page.html") Сертификат на тару
      +e.item 
        +e.A.link(href="page.html") Сертификат на ткань
      +e.item 
        +e.A.link(href="page.html") Сертификат на утеплитель
      +e.item 
        +e.A.link(href="page.html") Сертификат на фанеру
      +e.item 
        +e.A.link(href="page.html") Сертификат на цемент
      +e.item 
        +e.A.link(href="page.html") Сертификат на часы
      +e.item 
        +e.A.link(href="page.html") Сертификат на шубу
      +e.item 
        +e.A.link(href="page.html") Сертификат на щебень 

  // Links block
  +b.SECTION.links-block
    +e.A.link(href="http://www.rg.ru/", target="_blank", title="Российская газета")
      img(src="img/banners/rg.ru.jpg", alt="banner", title="banner")
    +e.A.link(href="http://www.gost.ru/", target="_blank", title="Ростехрегулирование")
      img(src="img/banners/gost.ru.jpg", alt="banner", title="banner")
    +e.A.link(href="http://минпромторг.рф/", target="_blank", title="Минпромторг")
      img(src="img/banners/minpromtorg.rf.jpg", alt="banner", title="banner")
    +e.A.link(href="http://fp.crc.ru/", target="_blank", title="Реестры документов")
      img(src="img/banners/fp.crc.ru.jpg", alt="banner", title="banner")
    +e.A.link(href="http://rostest.com/", target="_blank", title="Ростест")
      img(src="img/banners/rostest.ru.jpg", alt="banner", title="banner")
    +e.A.link(href="http://www.vniis.ru/", target="_blank", title="ВНИИС")
      img(src="img/banners/vniis.ru.jpg", alt="banner", title="banner")

