include ../abstracts/bemto/bemto.pug

        
+b.search
  +b.SECTION.form--search
    form(action='', method='')
      .form-group
        +e.SELECT.select
          option Поиск по документам
          option Поиск по сайту
          option Поиск в yandex
      .form-group.field-search.required
        +e.INPUT.input(type='text', name='Поиск', placeholder='Поиск')
        p.help-block Ошибка заполнения поля формы
      .form-group
        +b.BUTTON.btn--search(type='submit') Найти
