include ../abstracts/bemto/bemto.pug


+b.three-buttons
  +e.UL.list
    +e.item 
      +e.A.link(href="page-application.html") Заказать документ
    +e.item
      +e.A.link(href="page-call.html") Заказать звонок 
    +e.item 
      +e.A.link(href="page-questions.html") Задать вопрос


