<!-- Footer-->
<footer class="footer">
  <!-- Copyright-->
  <section class="copyright">
    <div class="container">
      <div class="copyright__wrapper">
        <div class="copyright__text">
          <div>© 2008-2016
            <a href="index.html">ИнфоГОСТ </a>
          </div>
          <div>информационный портал о сертификации </div>
        </div>
        <div class="counters">
          <a href="#" target="_blank">counter</a>
        </div>
      </div>
    </div>
  </section>
</footer>