<!-- Header-->
<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__logo">
        <!-- Logo-->
        <a class="logo" href="index.html" itemscope="itemscope" itemtype="http://schema.org/Brand">
          <img src="img/logo.png" alt="logo" title="logo" itemprop="logo" />
        </a>
      </div>
      <div class="header__form">
        <!-- Form application-->
        <section class="form form--application-header">
          <form action="" method="">
            <h3 class="form__title">Рассчитать стоимость </h3>
            <p class="form__text">Узнать сроки и стоимость услуги онлайн</p>
            <div class="form-group field-product required">
              <input class="form__input" type="text" name="Продукт" placeholder="Наименование продукта*" />
              <p class="help-block">Ошибка заполнения поля формы</p>
            </div>
            <div class="form-group field-name">
              <input class="form__input" type="text" name="Имя" placeholder="Ваше имя*" />
              <p class="help-block">Ошибка заполнения поля формы</p>
            </div>
            <div class="form-group field-tel">
              <input class="form__input" type="tel" name="Телефон" placeholder="Ваш телефон*" />
              <p class="help-block">Ошибка заполнения поля формы</p>
            </div>
            <div class="form-group field-email required">
              <input class="form__input" type="email" name="Email" placeholder="Ваш email*" />
              <p class="help-block">Ошибка заполнения поля формы</p>
            </div>
            <div class="form-group">
              <button class="btn btn--form btn--header" type="submit">Узнать стоимость</button>
              <p class="help-block help-block-success">Ваша заявка отправлена</p>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
</header>