<aside class="sidebar sidebar--left">
  <!-- Menu registers-->
  <section class="menu menu--registers" itemscope="itemscope" itemtype="http://schema.org/Service">
    <h3 class="menu__title">Проверка документов</h3>
    <ul class="menu__list">
      <li class="menu__item">
        <a class="menu__link" href="page.html">Реестр документов на сайте Росаккредитации</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html">Реестр Свидетельств о госрегистрации</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html">Реестр медицинских изделий и организаций, осуществляющих производство и изготовление медицинских изделий</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html">Реестр зарегистрированных нотификаций (уведомлений)</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html">Реестр штрих-кодов</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html">Реестр добровольной системы сертификации «СИСТЕМА КАЧЕСТВА ЕАС»</a>
      </li>
    </ul>
  </section>
  <!-- Menu certfication-->
  <section class="menu menu--certfication" itemscope="itemscope" itemtype="http://schema.org/Service">
    <h3 class="menu__title">Сертификация</h3>
    <ul class="menu__list">
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Декларация соответствия ГОСТ Р</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Декларация соответствия ТР ТС</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Декларация соответствия УкрСЕПРО</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Добровольная сертификация</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Карантинное разрешение</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Нотификация ФСБ</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Обязательная сертификация</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Одобрение типа транспортного средства</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Озоновое заключение</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Пожарное сертифицирование</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Протокол испытаний</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Разрешение Ростехнадзора</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Регистрационное удостоверение Минздрава</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Свидетельство о Государственной регистрации ТС</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Сертификат соответствия ГОСТ Р</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Сертификат соответствия ТР</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Сертификат Госстроя</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Сертификация импорта</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Сертификат пожарной безопасности</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Сертификат происхождения</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Сертификат соответствия ИСО 9001</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Сертификат соответствия ИСО 14001</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Сертификат соответствия ИСО 18001</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Сертификат соответствия СЕ</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Сертификат соответствия ТР ТС</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Сертификат соответствия УкрСЕПРО</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Сертификация средств индивидуальной защиты</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Технический регламент ТС</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Технические условия</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Технологический регламент</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Фитосанитарный сертификат</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Экологический сертификат</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html" itemprop="offers">Экспертное заключение</a>
      </li>
    </ul>
  </section>
  <!-- Menu normative-->
  <section class="menu menu--normative">
    <h3 class="menu__title">Нормативные документы</h3>
    <ul class="menu__list">
      <li class="menu__item">
        <a class="menu__link menu__link--dropdown" href="#">Перечни</a>
        <ul class="submenu">
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Перечень на ветеринарный сертификат</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Перечень на Госрегистрацию</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Перечень на декларацию</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Перечень на сертификат</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Перечень на фитосанитарный сертификат</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Перечень на хлебный сертификат</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Продукция, подлежащая пожарному сертифицированию</a>
          </li>
        </ul>
      </li>
      <li class="menu__item">
        <a class="menu__link menu__link--dropdown" href="#">Письма</a>
        <ul class="submenu">
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Письма-разъяснения от МинПромТорга</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Письмо к ФЗ от 27 ноября 2008 № 178-ФЗ «О санитарно-эпидемиологических заключениях, свидетельствах о государственной регистрации на соковую продукцию»</a>
          </li>
        </ul>
      </li>
      <li class="menu__item">
        <a class="menu__link menu__link--dropdown" href="#">Постановления</a>
        <ul class="submenu">
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Постановление от 17 марта 1998 № 11 «Об утверждении Положения о Системе сертификации ГОСТ Р»</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Постановление от 7 июля 1999 № 766 «Об утверждении перечня продукции, соответствие которой может быть подтверждено декларацией о соответствии, порядка принятия декларации о соответствии и её регистрации»</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Постановление от 30 июля 2002 № 64</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Постановление от 1 декабря 2009 № 982 «Об утверждении единого перечня продукции, подлежащей обязательной сертификации, и единого перечня продукции, подтверждение соответствия которой осуществляется в форме принятия декларации о соответствии»</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Постановление от 2 декабря 2009 г. № 984 «О перечне платных услуг, оказываемых организациями в целях предоставления федеральными органами исполнительной власти государственных услуг»</a>
          </li>
        </ul>
      </li>
      <li class="menu__item">
        <a class="menu__link menu__link--dropdown" href="#">Приказы</a>
        <ul class="submenu">
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Приказ МЧС России № 91 от 24 февраля 2009 «Об утверждении формы и порядка регистрации декларации пожарной безопасности»</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Приказ от 31 мая 1996 года № 336 «О порядке ввоза в РФ и вывоза из РФ озоноразрушающих веществ и содержащий их продукции»</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Приказ № 224 «О санитарно-эпидемиологических экспертизах, обследованиях, исследованиях, испытаниях и токсикологических, гигиенических и иных видах оценок»</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Приказ от 27 сентября 2002 г. N 214 «О подготовке и выдаче разъяснений по вопросам отнесения продукции и услуг (работ) к объектам обязательного подтверждения соответствия»</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Приказ «О порядке ввоза в Российскую Федерацию и вывоза из Российской Федерации озоноразрушающих веществ и содержащей их продукции»</a>
          </li>
        </ul>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page-news.html">СанПиНы</a>
      </li>
      <li class="menu__item">
        <a class="menu__link menu__link--dropdown" href="#">Технические регламенты Российской Федерации</a>
        <ul class="submenu">
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Технический регламент «О требованиях безопасности крови»</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Технический регламент «О требованиях пожарной безопасности»</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Технический регламент «О безопасности колесных транспортных средств»</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Технический регламент «О безопасности зданий и сооружений»</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Технический регламент на табачную продукцию</a>
          </li>
        </ul>
      </li>
      <li class="menu__item">
        <a class="menu__link menu__link--dropdown" href="#">Технические регламенты Таможенного Союза</a>
        <ul class="submenu">
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Технический регламент «Пищевая продукция в части ее маркировки»</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Технический регламент «Безопасность лифтов»</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Технический регламент «О требованиях безопасности средств индивидуальной защиты»</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Технический регламент на соковую продукцию из фруктов и овощей</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Технический регламент на масложировую продукцию</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Технический регламент «O безопасности пиротехнических изделий»</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Технический регламент «О требованиях безопасности машин и оборудования»</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Технический регламент «О безопасности аппаратов, работающих на газообразном топливе»</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Технический регламент «О требованиях безопасности продукции для детей и подростков»</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Технический регламент «О требованиях безопасности продукции для работы во взрывоопасных средах»</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Технический регламент «О безопасности низковольтного оборудования»</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Технический регламент «О безопасности зерна»</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Технический регламент «О безопасности упаковки»</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Технический регламент «О безопасности парфюмерно-косметической продукции»</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Технический регламент «О безопасности игрушек»</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Технический регламент «О безопасности продукции легкой промышленности»</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Технический регламент «Электромагнитная совместимость технических средств»</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Технический регламент «О безопасности пищевой продукции»</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Технический регламент «О требованиях к автомобильному и авиационному бензину, дизельному и судовому топливу, топливу для реактивных двигателей и мазуту»</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Технический регламент на молоко и молочную продукцию</a>
          </li>
        </ul>
      </li>
      <li class="menu__item">
        <a class="menu__link menu__link--dropdown" href="#">Федеральные законы</a>
        <ul class="submenu">
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">ФЗ от 27.11.08 № 178 «О санитарно-эпидемиологических заключениях, свидетельствах о государственной регистрации на соковую продукцию»</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">ФЗ от 27 декабря 2002 № 184-ФЗ «О техническом регулировании»</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">ФЗ от 21 июля 1997 № 116-ФЗ «О промышленной безопасности опасных производственных объектов»</a>
          </li>
        </ul>
      </li>
      <li class="menu__item">
        <a class="menu__link menu__link--dropdown" href="#">Базы кодов</a>
        <ul class="submenu">
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">Базы кодов ОКП</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">База ГОСТов</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">База ТНВЭД</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">МКТУ</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">База ОКВЭД 2</a>
          </li>
          <li class="submenu__item">
            <a class="submenu__link" href="page.html">База ОКПд</a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- Links block-->
  <section class="links-block">
    <a class="links-block__link" href="http://www.customs.ru/" target="_blank" title="Федеральная Таможенная Служба">
      <img src="img/banners/customs.ru.jpg" alt="banner" title="banner" />
    </a>
    <a class="links-block__link" href="http://rospotrebnadzor.ru/" target="_blank" title="Роспотребнадзор">
      <img src="img/banners/rospotrebnadzor.ru.jpg" alt="banner" title="banner" />
    </a>
    <a class="links-block__link" href="http://tsouz.ru/" target="_blank" title="Комиссия Таможенного Союза">
      <img src="img/banners/tsouz.ru.jpg" alt="banner" title="banner" />
    </a>
    <a class="links-block__link" href="http://www.minzdravsoc.ru/" target="_blank" title="Минздравсоцразвития России">
      <img src="img/banners/minzdravsoc.ru.jpg" alt="banner" title="banner" />
    </a>
  </section>
  <!-- Advertisment-->
  <section class="advertisment">
    <div class="advertisment__banner">
      <img src="img/slider.gif" alt="banner" title="banner" />
    </div>
  </section>
</aside>