<nav class="nav">
  <div class="nav__hamburger">
    <a class="hamburger" href="#">
      <span></span>
    </a>
  </div>
  <ul class="nav__list">
    <li class="nav__item">
      <a class="nav__link nav__link--active" href="index.html">Главная</a>
    </li>
    <li class="nav__item nav__item--blue">
      <a class="nav__link" href="page-application.html">Заказать документ</a>
    </li>
    <li class="nav__item nav__item--blue">
      <a class="nav__link" href="page-call.html">Заказать звонок </a>
    </li>
    <li class="nav__item nav__item--blue">
      <a class="nav__link" href="page-questions.html">Задать вопрос</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="page.html">Словарь терминов</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="page.html">База кодов</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="page.html">Справка</a>
    </li>
  </ul>
</nav>