<section class="news">
  <h2 class="news__title">Новости сертификации (вывести 10 штук)</h2>
  <div class="news__articles">
    <article class="news-item" itemscope="itemscope" itemtype="http://schema.org/Article">
      <h2 class="news-item__subtitle">
        <a class="news-item__link" href="single-news.html" itemprop="headline">Сертификация цемента стала обязательной </a>
      </h2>
      <div class="news-item__date" itemprop="datePublished">18.08.2016</div>
      <div class="news-item__excerpt" itemprop="articleSection">Начиная с 7 марта на территории России стала обязательной сертификация цемента – это регламентируется Письмом Минпромторга, которое было опубликовано 20 февраля 2016 года, а также ПП РФ №930 от 3 сентября 2015 года. Согласно указанному Постановлению
        с 7 марта обязательной оценке качества стали подлежать такие виды цемента как ...</div>
      <div class="news-item__further">
        <a class="btn btn--further" href="single-news.html">Далее</a>
      </div>
    </article>
    <article class="news-item" itemscope="itemscope" itemtype="http://schema.org/Article">
      <h2 class="news-item__subtitle">
        <a class="news-item__link" href="single-news.html" itemprop="headline">Россия ограничила поставки белорусской продукции на российский рынок </a>
      </h2>
      <div class="news-item__date" itemprop="datePublished">18.08.2016</div>
      <div class="news-item__excerpt" itemprop="articleSection">К комиссии ЕАЭК 10 февраля поступило обращение от службы по фитосанитарному и ветеринарному контролю о временных ограничениях на ввоз на территорию России товаров, которые были произведены ОАО «Слуцкий сыродельный комбинат», его любанскими и копыльскими
        филиалами в республике Беларусь, в связи с многочисленными ...</div>
      <div class="news-item__further">
        <a class="btn btn--further" href="single-news.html">Далее</a>
      </div>
    </article>
    <article class="news-item" itemscope="itemscope" itemtype="http://schema.org/Article">
      <h2 class="news-item__subtitle">
        <a class="news-item__link" href="single-news.html" itemprop="headline">1 января введено эмбарго на ряд турецких товаров </a>
      </h2>
      <div class="news-item__date" itemprop="datePublished">18.08.2016</div>
      <div class="news-item__excerpt" itemprop="articleSection">В.Путин подписал указ №583 от 28 ноября 2015г. согласно которому начиная с 1 января 2016 года введены специальные меры экономического зарактера в отношении Турецкой республики. В указе утверждается список продукции, материалов и сырья запрещённых
        к импорту в РФ. В список вошли такая пищевая продукция как томаты, капуста, огурцы, ...</div>
      <div class="news-item__further">
        <a class="btn btn--further" href="single-news.html">Далее</a>
      </div>
    </article>
    <article class="news-item" itemscope="itemscope" itemtype="http://schema.org/Article">
      <h2 class="news-item__subtitle">
        <a class="news-item__link" href="single-news.html" itemprop="headline">Сертификация цемента стала обязательной </a>
      </h2>
      <div class="news-item__date" itemprop="datePublished">18.08.2016</div>
      <div class="news-item__excerpt" itemprop="articleSection">Начиная с 7 марта на территории России стала обязательной сертификация цемента – это регламентируется Письмом Минпромторга, которое было опубликовано 20 февраля 2016 года, а также ПП РФ №930 от 3 сентября 2015 года. Согласно указанному Постановлению
        с 7 марта обязательной оценке качества стали подлежать такие виды цемента как ...</div>
      <div class="news-item__further">
        <a class="btn btn--further" href="single-news.html">Далее</a>
      </div>
    </article>
    <article class="news-item" itemscope="itemscope" itemtype="http://schema.org/Article">
      <h2 class="news-item__subtitle">
        <a class="news-item__link" href="single-news.html" itemprop="headline">Россия ограничила поставки белорусской продукции на российский рынок </a>
      </h2>
      <div class="news-item__date" itemprop="datePublished">18.08.2016</div>
      <div class="news-item__excerpt" itemprop="articleSection">К комиссии ЕАЭК 10 февраля поступило обращение от службы по фитосанитарному и ветеринарному контролю о временных ограничениях на ввоз на территорию России товаров, которые были произведены ОАО «Слуцкий сыродельный комбинат», его любанскими и копыльскими
        филиалами в республике Беларусь, в связи с многочисленными ...</div>
      <div class="news-item__further">
        <a class="btn btn--further" href="single-news.html">Далее</a>
      </div>
    </article>
    <article class="news-item" itemscope="itemscope" itemtype="http://schema.org/Article">
      <h2 class="news-item__subtitle">
        <a class="news-item__link" href="single-news.html" itemprop="headline">1 января введено эмбарго на ряд турецких товаров </a>
      </h2>
      <div class="news-item__date" itemprop="datePublished">18.08.2016</div>
      <div class="news-item__excerpt" itemprop="articleSection">В.Путин подписал указ №583 от 28 ноября 2015г. согласно которому начиная с 1 января 2016 года введены специальные меры экономического зарактера в отношении Турецкой республики. В указе утверждается список продукции, материалов и сырья запрещённых
        к импорту в РФ. В список вошли такая пищевая продукция как томаты, капуста, огурцы, ...</div>
      <div class="news-item__further">
        <a class="btn btn--further" href="single-news.html">Далее</a>
      </div>
    </article>
    <div class="pagination">
      <a class="pagination__number pagination__number--current" href="index.html">1</a>
      <a class="pagination__number" href="index.html">2</a>
      <a class="pagination__number" href="index.html">3</a>
      <a class="pagination__number" href="index.html">4</a>
      <a class="pagination__number" href="index.html">5</a>
    </div>
  </div>
</section>