<aside class="sidebar sidebar--right">
  <!-- Contacts section-->
  <div class="contacts-section">
    <a class="contacts-section__map" href="page-contacts.html">
      <img src="img/map.png" alt="map" title="map" />
    </a>
    <ul class="contacts-section__list">
      <li class="contacts-section__item">
        <a class="contacts-section__link" href="page-contacts.html#msk">В Москве</a>
      </li>
      <li class="contacts-section__item">
        <a class="contacts-section__link" href="page-contacts.html#spb">В Санкт-Петербурге</a>
      </li>
      <li class="contacts-section__item">
        <a class="contacts-section__link" href="page-contacts.html#ekb">В Екатеринбурге</a>
      </li>
      <li class="contacts-section__item">
        <a class="contacts-section__link" href="page-contacts.html#perm">В Перми</a>
      </li>
      <li class="contacts-section__item">
        <a class="contacts-section__link" href="page-contacts.html#tyumen">В Тюмени</a>
      </li>
      <li class="contacts-section__item">
        <a class="contacts-section__link" href="page-contacts.html#surgut">В Сургуте</a>
      </li>
      <li class="contacts-section__item">
        <a class="contacts-section__link" href="page-contacts.html#ufa">В Уфе</a>
      </li>
      <li class="contacts-section__item">
        <a class="contacts-section__link" href="page-contacts.html#msk">В Москве</a>
      </li>
      <li class="contacts-section__item">
        <a class="contacts-section__link" href="page-contacts.html#spb">В Санкт-Петербурге</a>
      </li>
      <li class="contacts-section__item">
        <a class="contacts-section__link" href="page-contacts.html#ekb">В Екатеринбурге</a>
      </li>
      <li class="contacts-section__item">
        <a class="contacts-section__link" href="page-contacts.html#perm">В Перми</a>
      </li>
      <li class="contacts-section__item">
        <a class="contacts-section__link" href="page-contacts.html#tyumen">В Тюмени</a>
      </li>
      <li class="contacts-section__item">
        <a class="contacts-section__link" href="page-contacts.html#surgut">В Сургуте</a>
      </li>
      <li class="contacts-section__item">
        <a class="contacts-section__link" href="page-contacts.html#ufa">В Уфе</a>
      </li>
      <li class="contacts-section__item">
        <a class="contacts-section__link" href="page-contacts.html#msk">В Москве</a>
      </li>
      <li class="contacts-section__item">
        <a class="contacts-section__link" href="page-contacts.html#spb">В Санкт-Петербурге</a>
      </li>
      <li class="contacts-section__item">
        <a class="contacts-section__link" href="page-contacts.html#ekb">В Екатеринбурге</a>
      </li>
      <li class="contacts-section__item">
        <a class="contacts-section__link" href="page-contacts.html#perm">В Перми</a>
      </li>
      <li class="contacts-section__item">
        <a class="contacts-section__link" href="page-contacts.html#tyumen">В Тюмени</a>
      </li>
      <li class="contacts-section__item">
        <a class="contacts-section__link" href="page-contacts.html#surgut">В Сургуте</a>
      </li>
      <li class="contacts-section__item">
        <a class="contacts-section__link" href="page-contacts.html#ufa">В Уфе</a>
      </li>
    </ul>
  </div>
  <!-- Menu certification production-->
  <section class="menu menu--production">
    <h3 class="menu__title">Сертификация продукции</h3>
    <ul class="menu__list">
      <li class="menu__item">
        <a class="menu__link" href="page.html">Сертификат на алюминий</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html">Сертификат на бетон</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html">Сертификат на битум</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html">Сертификат на брус</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html">Сертификат на гвозди</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html">Сертификат на двери</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html">Сертификат на игрушки</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html">Сертификат на кирпич</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html">Сертификат на клей</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html">Сертификат на ковролин </a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html">Сертификат на косметику</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html">Сертификат на линолеум</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html">Сертификат на моющие средства</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html">Сертификат на ножи</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html">Сертификат на обувь</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html">Сертификат на одежду</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html">Сертификат на паркет</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html">Сертификат на пищевую продукцию</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html">Сертификат на плитку</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html">Сертификат на посуду</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html">Сертификат на провод</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html">Сертификат на светодиодные лампы</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html">Сертификат на стекло</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html">Сертификат на сэндвич-панели</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html">Сертификат на тару</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html">Сертификат на ткань</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html">Сертификат на утеплитель</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html">Сертификат на фанеру</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html">Сертификат на цемент</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html">Сертификат на часы</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html">Сертификат на шубу</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="page.html">Сертификат на щебень </a>
      </li>
    </ul>
  </section>
  <!-- Links block-->
  <section class="links-block">
    <a class="links-block__link" href="http://www.rg.ru/" target="_blank" title="Российская газета">
      <img src="img/banners/rg.ru.jpg" alt="banner" title="banner" />
    </a>
    <a class="links-block__link" href="http://www.gost.ru/" target="_blank" title="Ростехрегулирование">
      <img src="img/banners/gost.ru.jpg" alt="banner" title="banner" />
    </a>
    <a class="links-block__link" href="http://минпромторг.рф/" target="_blank" title="Минпромторг">
      <img src="img/banners/minpromtorg.rf.jpg" alt="banner" title="banner" />
    </a>
    <a class="links-block__link" href="http://fp.crc.ru/" target="_blank" title="Реестры документов">
      <img src="img/banners/fp.crc.ru.jpg" alt="banner" title="banner" />
    </a>
    <a class="links-block__link" href="http://rostest.com/" target="_blank" title="Ростест">
      <img src="img/banners/rostest.ru.jpg" alt="banner" title="banner" />
    </a>
    <a class="links-block__link" href="http://www.vniis.ru/" target="_blank" title="ВНИИС">
      <img src="img/banners/vniis.ru.jpg" alt="banner" title="banner" />
    </a>
  </section>
</aside>