<div class="search">
  <section class="form form--search">
    <form action="" method="">
      <div class="form-group">
        <select class="form__select">
          <option>Поиск по документам</option>
          <option>Поиск по сайту</option>
          <option>Поиск в yandex</option>
        </select>
      </div>
      <div class="form-group field-search required">
        <input class="form__input" type="text" name="Поиск" placeholder="Поиск" />
        <p class="help-block">Ошибка заполнения поля формы</p>
      </div>
      <div class="form-group">
        <button class="btn btn--search" type="submit">Найти</button>
      </div>
    </form>
  </section>
</div>